* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8ecef;
  color: #1c2b48;
}

hr {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

#header-page h1 {
  width: 100%;
  background-color: #b2cddf;
  margin: 10px 0;
}

.title-header {
  text-align: center;
  margin: 10px 0;
}

.title-section {
  width: 100%;
  background-color: #a7c7e7;
  text-align: center;
  margin: 20px 0;
}

.box-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.title-explain,
.title-example {
  font-size: 20px;
  font-weight: bold;
  color: #596070;
  letter-spacing: 2px;
  margin: 20px 0;
}

.box-explain {
  width: 100%;
  background-color: #e6f1fa;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  padding-bottom: 20px;
}

.box-example {
  width: 100%;
  background-color: #c9deef;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  padding-bottom: 20px;
}

code {
  background-color: #c9d9e6;
}

/* Tables element section*/
#tables-element code {
  background-color: unset;
}

#tables-element table {
  width: 400px;
  height: 200px;
  text-align: center;
}

#tables-element th {
  background-color: #cbe4f0;
  border: 1px solid #1c2b48;
}

#tables-element tr,
#tables-element td {
  background-color: #f2fafa;
  border: 1px solid #1c2b48;
}

/* Forms element section*/
#forms-element .box-section h2 {
  text-align: center;
  margin: 10px 0;
}

#forms-element form {
  width: 200px;
  height: 130px;
  background-color: #ecf9ff;
  padding-top: 20px;
  border-radius: 10px;
}

#forms-element label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

#forms-element input {
  width: 150px;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

#forms-element button {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  color: #e6f1fa;
  background-color: #1c2b48;
  border-radius: 10px;
  font-weight: bold;
}

#forms-element button:hover {
  color: #1c2b48;
  background-color: #b2cddf;
  cursor: pointer;
  font-weight: unset;
}

/* Input Types, Form Accessibility, Input Attributes sections*/
#input-types .box-section h2,
#form-accessibility .box-section h2,
#input-attributes .box-section h2 {
  text-align: center;
  margin-bottom: 10px;
}

#input-types form {
  width: 250px;
  height: 400px;
  background-color: #ecf9ff;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 25px;
}

#input-types label,
#form-accessibility label,
#input-attributes label,
#button-element label,
#select-dropdowns label {
  font-size: 15px;
  font-weight: bold;
}

#input-types input,
#form-accessibility input,
#input-attributes input {
  width: 200px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
}

#input-types button,
#form-accessibility button {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  color: #e6f1fa;
  background-color: #1c2b48;
  border-radius: 10px;
  font-weight: bold;
}

#input-types button:hover,
#form-accessibility button:hover,
#button-element button:hover,
#select-dropdowns button:hover {
  color: #1c2b48;
  background-color: #b2cddf;
  cursor: pointer;
  font-weight: unset;
}

#form-accessibility form {
  width: 250px;
  height: 210px;
  background-color: #ecf9ff;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 25px;
}

#input-attributes form {
  width: 250px;
  height: 280px;
  background-color: #ecf9ff;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 25px;
}

/* Button element section */
#simple-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-element h4,
#checkboxes-radio-buttons h4,
#select-dropdowns h4 {
  padding-top: 5px;
  padding-bottom: 10px;
}

#button-element li,
#checkboxes-radio-buttons li,
#select-dropdowns li {
  margin-left: 20px;
  padding-bottom: 10px;
}

#button-element form {
  width: 200px;
  height: 200px;
  padding-top: 20px;
}

#button-element input {
  width: 200px;
  height: 30px;
  margin: 5px 0;
}

#btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 10px 0;
}

#button-element button {
  width: 60px;
  height: 30px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #1c2b48;
  color: #e6f1fa;
  background-color: #1c2b48;
}

/* Select Dropdown section */
#select-dropdowns h3 {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

#select-dropdowns form {
  width: 200px;
  height: 200px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #e6f1fa;
  border-radius: 10px;
}

#select-dropdowns input,
#select-dropdowns select {
  width: 180px;
  height: 30px;
  margin: 5px 0;
  padding-left: 5px;
}

#select-dropdowns button {
  width: 180px;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #1c2b48;
  color: #e6f1fa;
  background-color: #1c2b48;
  font-weight: bold;
}

/* Footer section */
#attribution {
  font-size: 12px;
  text-align: center;
  left: 0;
  bottom: 40px;
  width: 100%;
  letter-spacing: 2px;
  color: #757f99;
  margin-top: 20px;
  margin-bottom: 20px;
}

#attribution a {
  color: #596070;
  text-decoration: none;
}

#attribution a:hover {
  color: #b2cddf;
}